<form class="m-editor" id="meme-editor-view">

  <h2><label for="width">Image size</label></h2>
  <select class="width" id="width">
    <option value="" disabled>Select an image size</option>
  </select>
  
  <h2><label for="headline">Text <span style="font-weight: 400; font-size: 0.8em;"><i>- Put *asterisks* around words to make them red.</i></span></label></h2>
  <textarea id="headline" name="headline" type="text" value=""></textarea>

  <h2><label for="font-size">Text Size</label></h2>
  <input id="font-size" type="range" max="1000" min="150" step="50">

  <h2><label for="top-padding">Top Padding</label></h2>
  <input id="top-padding" type="range" max="2.25" min="1" step="0.01">

</form>
